{% extends 'base.html.twig' %}

{% block title %} Admin page {% endblock %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="col-12">
            <div class="row">
                <a class="btn btn-primary" href="{{ url('user_index') }}">Crud user</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{{ url('category_form') }}">Create category</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{{ url('product_form') }}">Create product</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{{ url('crud_product_index') }}">Crud produs</a>
            </div>
        </div>
    </div>
{% endblock %}
