{% extends 'base.html.twig' %}

{% block title %} {{ category }} - Magazinul colectionarului{% endblock %}

{% block body %}

   <div class="container-fluid">
      <div class="container">
         <div class="row mt-5">
            <div class="col-12">
               <h2>{{ category }}</h2>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="col-12">
         <div class="row">
             {% for product in category.getProducts() %}
                 {{ include ('default/product/productCard.html.twig') }}
             {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}
