{% extends 'base.html.twig' %}

{% block title %} Magazinul colectionarului{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="container-fluid">


    </div>

</div>
{% endblock %}
