{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container-fluid mt-5">
        <div class="row bg-primary text-center text-light mt-5">
            <p>Despre Magazinul Colectionarului</p>
        </div>
        <div class="col-12 text-align-center">
            Magazinul Colectionarului este locul ideal unde poti gasi orice in materie de colectionabile.
            <br>
            <br>
            Machete, monede, figurine si cate si mai cate. Imagineaza-ti cum va arata colectia ta iar noi iti vom pune la dispozitie tot ce ai nevoie pentru ca, colectia ta sa prinda contur.
        </div>


    </div>
</div>
{% endblock %}
