{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <a class="navbar-brand" href="{{ url('homepage') }}">
                                <img width="400px" src="{{ asset('images/logoShop.png') }}" alt="logoShop.png">
                            </a>
                        </div>
                        <div class="col-6">
                            <nav class="navbar navbar-light bg-light">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Colectioneaza tot ce vrei" aria-label="Search">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cauta</button>
                                </form>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 bg-primary">
                            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Categorii
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                {% for category in categories %}
                                                <a class="dropdown-item" href="{{ url('category',{'category':category.id}) }}">{{ category.name }}</a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Vendori
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">Casa de Monede</a>
                                                <a class="dropdown-item" href="#">Revell</a>
                                                <a class="dropdown-item" href="#">Marvel</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
