{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(productForm) }}
        {{ form_widget(productForm) }}
        <button class="btn">Save</button>
        {{ form_end(productForm) }}
    </div>
{% endblock %}
